.news {
  margin-top: 10px;
}

.news_slider {
  width: 100%;
  overflow: hidden;
}
.news_slider-text {
  color: red;
  font-weight: 600;
  animation: slide-left infinite 30s;
}
.news_content {
  margin-top: 10px;
}
.news_content-title {
  color: #08c;
  font-weight: 500;
  font-size: 26px;
  margin: 10px 0;
  text-align: justify;
}
.news_content-date {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin: 10px 0;
}
.news_content-des {
  color: var(--text-color);
  margin: 10px 0;
  text-align: justify;
  line-height: 27px;
}
.news_content-file {
  display: flex;
  align-items: center;
  width: 100%;
}
.news_content-picture-space {
  margin: auto;
  width: 80%;
}

.news_content-pic-name {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  margin: 5px 0;
  font-style: italic;
}
.news_content-pic {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.news_author {
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  font-weight: 400;
}

.news_pagination {
  margin: 18px 0;
  display: flex;
  justify-content: center;
}
.news_content_toolbar {
  display: none !important;
}
.news_content_editor {
  margin-top: -10px;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: -35%;
    width: 100%;
  }
}
@media (max-width: 739px) {
  .generalAnnouncement {
    margin: 10px 5px;
  }
  .news {
    margin: 10px 5px;
  }
  .news_content-picture-space {
    width: 100%;
  }
}
