.modal_list_attendance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white;
  box-shadow: 24;
  padding: 32px;
  border-radius: 10px;
}
