.mySlides {
  display: none;
}

.slider_picture {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .slider_picture {
    height: 250px;
  }
}

@media (max-width: 739px) {
  .slider_picture {
    height: 150px;
  }
}
