.infor_user {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px #ccc;
  position: relative;
}
.infor_user_btn_submit {
  justify-content: flex-end;
  display: flex;
  margin-top: 10px;
}
.infor_user_btn_cancel {
  margin-right: 5px !important;
}
.uploadAvatarUser {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
}

.infor_user_edit_btn {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
}
.infor_user_avatar {
  position: relative;
  margin-top: 20px;
}
.infor_username {
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
  color: var(--text-color);
  font-weight: 600;
}
.infor_userform {
  width: 80%;
  margin-bottom: 40px;
}
.margin {
  margin-top: 2px;
}
.infor_userform_date-picker {
  width: 100% !important;
  margin: 6px 0 !important;
}
